.login {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login__image {
    object-fit: contain;
    width: 100px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
}